*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


.row {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
} 


#container-box{
    background-color: black;
    border-radius: 1em;
    border: 3px solid #0096FF;
    color: #00D7FF;
    padding: 0.5em 3em;
}

div#anag {
    margin: -1em;
}

.anagInpN, .anagInpC, input{
    text-align: center;
    border: 1px solid #0096FF;
    border-radius: 2em ;

}
input::placeholder {
    color: #5800FF;
}

textarea {
    border: 1px solid #0096FF;
    border-radius: 0.5em ;
    width: 22em;
    height: 5em;
}

textarea::placeholder {
    color: #5800FF;
    text-align: center;

  }

label#titleParag {
    display: block;
}

textarea.textParag {
    margin: 1em 0em 2em 0em;
}

#myButton{
    position: absolute;
    border: 2px solid #00D7FF;
    /* border: none; */
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    border-radius: 6em;
    opacity: .5;
    top: 47vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: .3s;
  }
  
  #myButton:hover{
    width: 250px;
    height: 50px;
    border: 2px solid #0096FF;
    background-color: #00D7FF;
    /* background-color: rgba(365,365,365,0.5); */
    cursor: pointer;
    color: #0096FF;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
