* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* #margin-row{
    margin-top: 5%;
} */

#container-box {
    background-color: rgba(0, 0, 0, 0.799);
    border-radius: 1em;
    border: 3px solid rgb(0, 150, 255);

}

input {
    color: rgb(13, 202, 240);
    font-weight: bold;
    text-shadow: 0.08em 0.8px black;
    letter-spacing: 0.12em;

}

input::placeholder {
    color: #5800FF;
    /* color info = rgb(13, 202, 240) */
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    text-shadow: none;
}

textarea {
    color: rgb(13, 202, 240);
    font-weight: bold;
    text-shadow: 0.08em 0.8px black;
    letter-spacing: 0.12em;
    padding-top: 1em;

}

textarea::placeholder {
    color: #5800FF; /* color info = rgb(13, 202, 240) */
    opacity: 0.5;
    font-weight: bold;
    text-align: center;
    text-shadow: none;

}

#myButton {
    display: block;
    border: 2px solid rgb(13, 202, 240); /* border: none; */
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    /* border-radius: 6em; */
    margin: auto;
    transition: .3s;
}

#myButton:hover {
    text-shadow: 0.08em 0.8px black;
    border: 4px solid #0096FF;
    background-color: #00D7FF;
    cursor: pointer;
    color: white;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
}